$baseColor: #787878;
$fontSize: 11px;
$spacing: 6px;

body, p, ul, dd, dl {
  margin: 0;
  padding: 0;
}

dd, dt {
  display: inline-block;
}

a {
  color: #39c;
  text-decoration: none;

  &:hover {
    color: #069;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: $baseColor;
  font: $fontSize Arial, Helvetica, sans-serif;
}

#app {
  height: 100%;

  &> div {
    height: 100%;
  }
}

.banner {
  position: relative;
  color: white;
  height: 33.33%;

  &> canvas {
    width: 100%;
    height: 100%;
  }

  &> div {
    position: absolute;

    &.links {
      left: $spacing;
      top: $spacing;
      font-size: $fontSize + 1px;

      a {
        margin-right: 3*$spacing;
        line-height: $fontSize + $spacing;
      }

      @media (max-width: 400px) {
        a {
          display: block;
        }
      }
    }

    &.author {
      left: $spacing;
      bottom: $spacing;
    }

    &.statistics {
      right: $spacing;
      top: $spacing;

      dl {
        position: relative;
        line-height: $fontSize + 0.5*$spacing;
      }

      dt {
        margin-right: 9*$spacing;
        width: 100px;
        text-align: right;
      }

      dd {
        position: absolute;
        right: 0;
        top: 0;
        width: 8*$spacing;
        font-weight: bold;
      }
    }

    &.help {
      right: $spacing;
      bottom: $spacing;
      font-size: $fontSize - 1px;
    }

    @media (max-width: 400px) {
      &.help {
        display: none;
      }
    }
  }
}

.page {
  height: 66.67%;
  background: image-url('background.jpg');

  &> div {
    position: relative;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    background-color: white;

    @media (max-width: 1200px) {
      width: 100%;
    }

    &> div {
      position: absolute;
      left: 2*$spacing;
      right: 2*$spacing;

      &:first-child {
        top: 0;
        bottom: 25%;
        padding: 2*$spacing 0;
        line-height: $fontSize + 0.5*$spacing;

        @media (min-height: 600px) and (min-width: 1000px) {
          font-size: $fontSize + 2px;
          line-height: $fontSize + 2px + $spacing;
        }
      }

      &:last-child {
        top: 25%;
        bottom: 2*$spacing;

        &> div {
          position: absolute;
          width: 50%;
          top: 0;
          bottom: 0;

          &:first-child {
            left: 0;

            &> div {
              left: 0;
              right: $spacing;
            }
          }

          &:last-child {
            right: 0;

            &> div {
              left: $spacing;
              right: 0;
            }
          }

          &> div {
            position: absolute;
            top: 0;
            bottom: 0;
          }
        }

        canvas {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}